.full-width{
    width: 100%;
}
.login-heading{
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 10px;
}
.login-desc{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}